/target
/firebase-token
/.vscode
/logs
/coverage
/infrastucture/terraform/test/key.json
firestore-debug.log
firebase-debug.log
ui-debug.log
.github/workflows/audit.yaml

# Terraform Files
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/key.json
