/coverage
/target

# IDE
/.vscode

# Firestore
/firebase-token
firestore-debug.log
firebase-debug.log
ui-debug.log

# Terraform
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/key.json
